f<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title></title>
	<link rel="stylesheet" href="css/style_1.css">
</head>
<body>
	<div class="mega">
	<div class="jumbotron jumbotron-main">
		<nav class="navbar navbar-expand-md mb-4">
		  <a class="navbar-brand" href="#">Contact Book</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  	<div class="collapse navbar-collapse" id="navbarCollapse">
		    	<ul class="navbar-nav mr-auto">
		     		<li class="nav-item active">
		        		<a class="nav-link" href="http://localhost:3000/users/login">Home <span class="sr-only">(current)</span></a>
		      		</li>
		      		<li class="nav-item">
		       			<a class="nav-link" href="http://localhost:3000/users/about" >About</a>
		     		</li>
		     		<li class="nav-item">
		       			<a class="nav-link" href="http://localhost:3000/users/register" >Register</a>
		     		</li>
		    	</ul>
		    	
		  	</div>
		</nav>
		<div class="container">
			<h1>About</h1>
			<div class="middle">
				<p class="lead">This is just a simple contacts book where we can add a new contact search for an existing contact and remove a contact.
				This website is made as a part of the CS 474 course for assignment 3.
				</p>
			</div>
		</div>
	</div>
	</div>

</body>
<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">17XJ1A0508</span>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</html>